/* Estilos del menú dentro del Drawer */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 12px 0;
}

.menu a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
  display: block;
  padding: 8px 10px;
  border-radius: 6px;
  transition: all 0.25s ease;
}

.menu a:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Hover suave */
  color: var(--primary-color);
}

.menu a.active {
  background-color: rgba(0, 123, 255, 0.1);
  color: var(--primary-color);
  font-weight: bold;
}

.btn-icon-custom .p-button-icon {
  color: #ff5722 !important; /* tu color personalizado */
}
