.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
}

.page-content {
  flex: 1; /* Permite que el contenido de la página ocupe el espacio restante */
  padding: 20px;
}
