:host {
  display: block;
  padding: 2rem;
  background-color: #f4f7f9;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
}

.info-container {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(2, 2, 125);
  align-items: center;
}

.subtitle {
  font-size: 1.2rem;
  color: #64748b;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  width: 100%;
  margin-bottom: 2rem;
}

.stat-card {
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.stat-card:hover {
  transform: translateY(-5px);
}

::ng-deep .stat-card .p-card-title {
  font-size: 1rem;
  font-weight: 600;
  color: #475569;
}

::ng-deep .stat-card .p-card-content {
  padding-top: 0;
}

.stat-number {
  font-size: 2.5rem;
  font-weight: 700;
  color:rgb(153, 204, 51);
  margin: 0;
}

.image-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  
}

.neighborhood-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .dashboard-container {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    margin-top: 2rem;
  }
}
